---
import NextJS from "@/icons/NextJs.astro";
import Tailwind from "@/icons/Tailwind.astro";
import GitHub from "@/icons/Github.astro";
import Java from "@/icons/Java.astro";
import Gradle from "@/icons/Gradle.astro";
import Oracle from "@/icons/Oracle.astro";
import Python from "@/icons/Python.astro";
import Sqlserver from "@/icons/Sqlserver.astro";
import Groovy from "@/icons/Groovy.astro";
import Spring from "@/icons/Spring.astro";
import Xml from "@/icons/Xml.astro";
import TypeScript from "@/icons/TypeScript.astro";
import Svelte from "@/icons/Svelte.astro";
import _Astr from "@/icons/_Astr.astro";
import JavaScript from "@/icons/JavaScript.astro";
import OpenAI from "@/icons/OpenAI.astro";
import Html from "@/icons/HTML.astro";
import C__ from "@/icons/C++.astro";
import Lua from "@/icons/Lua.astro";
import React from "@/icons/React.astro";
import Angular from "@/icons/Angular.astro";
import AngularJs from "@/icons/AngularJs.astro";
import Nodejs from "@/icons/Nodejs.astro";
import MySql from "@/icons/MySql.astro";
import Solr from "@/icons/Solr.astro";
import MongoDb from "@/icons/MongoDb.astro";
import Redis from "@/icons/Redis.astro";
import SpringBatch from "@/icons/SpringBatch.astro";
import SpringSecurity from "@/icons/SpringSecurity.astro";
import Git from "@/icons/Git.astro";
import Docker from "@/icons/Docker.astro";
import Dart from "@/icons/Dart.astro";
import Flutter from "@/icons/Flutter.astro";
import Hibernate from "@/icons/Hibernate.astro";
import PostgreSQL from "@/icons/PostgreSQL.astro";
import Postman from "@/icons/Postman.astro";
import ApacheMaven from "@/icons/ApacheMaven.astro";
import AmazonWebServices from "@/icons/AmazonWebServices.astro";
import SAPHana from "@/icons/SAPHana.astro";
import Yaml from "@/icons/Yaml.astro";
import SpringBoot from "@/icons/SpringBoot.astro";
import SpringData from "@/icons/SpringData.astro";
import Svn from "@/icons/Svn.astro";
import Css from "@/icons/Css.astro";
import VueJs from "@/icons/VueJs.astro";
import Preact from "@/icons/Preact.astro";
import Htmx from "@/icons/Htmx.astro";
import Ollama from "@/icons/Ollama.astro";
import Kubernetes from "@/icons/Kubernetes_.astro";
import Azure from "@/icons/Azure_.astro";
import RedHat from "@/icons/RedHat.astro";
import SkillsCarouselItem from "@/components/skills/SkillsCarouselItem.astro";
import DbIcon from "@/icons/DbIcon.astro";
import BackendIcon from "@/icons/BackendIcon.astro";
import CommandIcon from "@/icons/CommandIcon.astro";
import FrontendIcon from "@/icons/FrontendIcon.astro";
import BackendFWIcon from "@/icons/BackendFWIcon.astro";
import FrontendFWIcon from "@/icons/FrontendFWIcon.astro";
import ToolsIcon from "@/icons/ToolsIcon.astro";
import ServerIcon from "@/icons/ServerIcon.astro";
import MariaDB from "@/icons/MariaDB.astro";
import CassandraDB from "@/icons/Cassandra.astro";
import GoogleCloud from "@/icons/GoogleCloud.astro";
import GitHubActions from "@/icons/GitHubActions.astro";
import VictoriaMetrics from "@/icons/VictoriaMetrics.astro";
import Go_ from "@/icons/Go_.astro";
import GinFramework from "@/icons/GinFramework.astro";
import Nginx from "@/icons/Nginx.astro";
import FastApi from "@/icons/FastApi.astro";
import C from "@/icons/C.astro";
import Php from "@/icons/Php.astro";
import Kotlin from "@/icons/Kotlin.astro";
import Assembly from "@/icons/Assembly.astro";
import WebAssembly from "@/icons/WebAssembly.astro";
import Db2 from "@/icons/Db2.astro";
import SublimeText from "@/icons/SublimeText.astro";
import Notepad from "@/icons/Notepad.astro";
import Pnpm from "@/icons/Pnpm.astro";
import Bun from "@/icons/Bun.astro";
import Dotenv from "@/icons/Dotenv.astro";
import Vite from "@/icons/Vite.astro";
import Rust from "@/icons/Rust.astro";
import Ruby from "@/icons/Ruby.astro";

const skills = {
  backendSkills: [
    { name: "Java", iconItem_: Java, className: "" },
    { name: "Python", iconItem_: Python, className: "" },
    { name: "Groovy", iconItem_: Groovy, className: "" },
    { name: "Kotlin", iconItem_: Kotlin, className: "" },
    { name: "Dart", iconItem_: Dart, className: "" },
    { name: "Go", iconItem_: Go_, className: "" },
    { name: "C++", iconItem_: C__, className: "" },
    { name: "C", iconItem_: C, className: "" },
    { name: "Lua", iconItem_: Lua, className: "" },
    { name: "Php", iconItem_: Php, className: "" },
    { name: "Assembly", iconItem_: Assembly, className: "" },
    { name: "Rust", iconItem_: Rust, className: "" },
    { name: "Ruby", iconItem_: Ruby, className: "" },
  ],
  backendFrameworks: [
    { name: "Spring", iconItem_: Spring, className: "" },
    { name: "Spring Boot", iconItem_: SpringBoot, className: "" },
    { name: "Spring Batch", iconItem_: SpringBatch, className: "" },
    { name: "Spring Security", iconItem_: SpringSecurity, className: "" },
    { name: "Spring Data", iconItem_: SpringData, className: "" },
    { name: "Hibernate", iconItem_: Hibernate, className: "" },
    { name: "Flutter", iconItem_: Flutter, className: "" },
    { name: "Gin Framework", iconItem_: GinFramework, className: "" },
    { name: "FastAPI", iconItem_: FastApi, className: "" },
    { name: "WebAssembly", iconItem_: WebAssembly, className: "" },
  ],
  frontendSkills: [
    { name: "JavaScript", iconItem_: JavaScript, className: "" },
    { name: "Css", iconItem_: Css, className: "" },
    { name: "Html", iconItem_: Html, className: "" },
    { name: "React", iconItem_: React, className: "" },
    { name: "Nodejs", iconItem_: Nodejs, className: "" },
    { name: "TypeScript", iconItem_: TypeScript, className: "" },
    { name: "Htmx", iconItem_: Htmx, className: "" },
    { name: "Bun", iconItem_: Bun, className: "" },
    { name: "Pnpm", iconItem_: Pnpm, className: "" },
    { name: "Dotenv", iconItem_: Dotenv, className: "" },
    { name: "Vite", iconItem_: Vite, className: "" },
  ],
  frontendFrameworks: [
    { name: "NextJS", iconItem_: NextJS, className: "" },
    { name: "VueJs", iconItem_: VueJs, className: "" },
    { name: "Angular", iconItem_: Angular, className: "" },
    { name: "AngularJs", iconItem_: AngularJs, className: "" },
    { name: "Tailwind", iconItem_: Tailwind, className: "" },
    { name: "Astro", iconItem_: _Astr, className: "" },
    { name: "Svelte", iconItem_: Svelte, className: "" },
    { name: "Preact", iconItem_: Preact, className: "" },
  ],
  databaseSkills: [
    { name: "Sqlserver", iconItem_: Sqlserver, className: "" },
    { name: "Oracle", iconItem_: Oracle, className: "" },
    { name: "MySql", iconItem_: MySql, className: "" },
    { name: "PostgreSQL", iconItem_: PostgreSQL, className: "" },
    { name: "Solr", iconItem_: Solr, className: "" },
    { name: "MongoDb", iconItem_: MongoDb, className: "" },
    { name: "Redis", iconItem_: Redis, className: "" },
    { name: "MariaDb", iconItem_: MariaDB, className: "" },
    { name: "Cassandra", iconItem_: CassandraDB, className: "" },
    { name: "Db2", iconItem_: Db2, className: "" },
  ],
  tools: [
    { name: "Postman", iconItem_: Postman, className: "" },
    { name: "Gradle", iconItem_: Gradle, className: "" },
    { name: "Maven", iconItem_: ApacheMaven, className: "" },
    { name: "Xml", iconItem_: Xml, className: "" },
    { name: "Yaml", iconItem_: Yaml, className: "" },
    { name: "Git", iconItem_: Git, className: "" },
    { name: "Svn", iconItem_: Svn, className: "" },
    { name: "Sublime Text", iconItem_: SublimeText, className: "" },
    { name: "Notepad++", iconItem_: Notepad, className: "" },
  ],
  devOps: [
    { name: "GitHub", iconItem_: GitHub, className: "" },
    { name: "Docker", iconItem_: Docker, className: "" },
    { name: "SAP Hana", iconItem_: SAPHana, className: "" },
    { name: "OpenAI", iconItem_: OpenAI, className: "" },
    { name: "Ollama", iconItem_: Ollama, className: "" },
    { name: "Kubernetes", iconItem_: Kubernetes, className: "" },
    { name: "AWS", iconItem_: AmazonWebServices, className: "" },
    { name: "Azure", iconItem_: Azure, className: "" },
    { name: "RedHat", iconItem_: RedHat, className: "" },
    { name: "Google Cloud", iconItem_: GoogleCloud, className: "" },
    { name: "GitHub Actions", iconItem_: GitHubActions, className: "" },
    { name: "Bash", iconItem_: CommandIcon, className: "" },
    { name: "VictoriaMetrics", iconItem_: VictoriaMetrics, className: "" },
    { name: "Nginx", iconItem_: Nginx, className: "" },
  ],
};
---

<section
  id="skills"
  class="w-full mx-auto container lg:max-w-4xl md:max-w-2xl pb-10"
>
  <h2 class="flex items-center mb-6 text-2xl font-bold">
    <BackendIcon class="size-8 pr-2" /> Backend
  </h2>
  <SkillsCarouselItem nameSkill={skills.backendSkills} />

  <h2 class="flex items-center mb-6 text-2xl font-bold">
    <BackendFWIcon class="size-8 pr-2" /> Backend Frameworks
  </h2>
  <SkillsCarouselItem nameSkill={skills.backendFrameworks} />

  <h2 class="flex items-center mb-6 text-2xl font-bold">
    <FrontendIcon class="size-8 pr-2" /> Frontend
  </h2>
  <SkillsCarouselItem nameSkill={skills.frontendSkills} />

  <h2 class="flex items-center mb-6 text-2xl font-bold">
    <FrontendFWIcon class="size-8 pr-2" /> Frontend Frameworks
  </h2>
  <SkillsCarouselItem nameSkill={skills.frontendFrameworks} />

  <h2 class="flex items-center mb-6 text-2xl font-bold">
    <DbIcon class="size-8 pr-2" /> Databases
  </h2>
  <SkillsCarouselItem nameSkill={skills.databaseSkills} />

  <h2 class="flex items-center mb-6 text-2xl font-bold">
    <ToolsIcon class="size-8 pr-2" />Tools
  </h2>
  <SkillsCarouselItem nameSkill={skills.tools} />

  <h2 class="flex items-center mb-6 text-2xl font-bold">
    <ServerIcon class="size-8 pr-2" /> DevOps
  </h2>
  <SkillsCarouselItem nameSkill={skills.devOps} />
</section>
