---
import SpainFlag from "@/icons/SpainFlag.astro";
import USAFlag from "@/icons/UsaFlag.astro";
import ItalianFlag from "@/icons/ItalianFlag.astro";
import ChevronIcon from "@/icons/chevron.astro"
import EuIcon from "@/icons/Eu.astro"

const { currentLocale = "eu" } = Astro
const LOCALES: Record<
  string,
  { code: string; name: string; href: string; flag: typeof SpainFlag }
> = {
  en: {
    code: "en",
    href: "/en",
    name: "English",
    flag: USAFlag,
  },
  es: {
    code: "es",
    href: "/es",
    name: "Español",
    flag: SpainFlag,
  },
  it: {
    code: "it",
    href: "/it",
    name: "Italiano",
    flag: ItalianFlag,
  },
  eu: {
    code: "eu",
    href: "/",
    name: "Europe",
    flag: EuIcon,
  }
}

const currentLocaleData = LOCALES[currentLocale]
const otherLocales = Object.values(LOCALES).filter(
  (locale) => locale.code !== currentLocale
)



---

<div class="relative inline-block text-left">
  <div
    class="group text-white rounded-md text-xs font-semibold bg-black/30 hover:bg-black/70 transition-all"
  >
    <button
      type="button"
      class="inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
    >
      <currentLocaleData.flag />
      {currentLocaleData.name}

      <ChevronIcon />
    </button>
    <ul
      class="group-hover:block group-hover:animate-fade-down group-hover:animate-duration-200 hidden pt-0.5 absolute w-full"
    >
    {currentLocale}
      {
        otherLocales.map((locale) => (
          <li class="">
            <a
              class="rounded-md bg-black/30 hover:bg-black/70 whitespace-no-wrap inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
              href={locale.href}
              id={locale.code}
            >
            {locale.code}
              <locale.flag />
              {locale.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<script>
  const es = document.querySelector("#es");
  es?.addEventListener("click", () => {
    console.log("Hello, on client es");
  });

  const it = document.querySelector("#it");
  it?.addEventListener("click", () => {
    console.log("Hello, on client it");
  });


  const en = document.querySelector("#en");
  en?.addEventListener("click", () => {
    console.log("Hello, on client en");
  });
</script>