---
import NextJS from "../icons/NextJs.astro"
import Tailwind from "../icons/Tailwind.astro"
import GitHub from "../icons/Github.astro"
import Java from "../icons/Java.astro"
import Gradle from "../icons/Gradle.astro"
import Oracle from "../icons/Oracle.astro"
import LinkButton from "./LinkButton.astro"
import Sqlserver from '@/icons/Sqlserver.astro';
import Groovy from '@/icons/Groovy.astro';
import Spring from '@/icons/Spring.astro';
import Xml from '@/icons/Xml.astro';
import Link from "@/icons/Link.astro"
import TypeScript from "@/icons/TypeScript.astro"
import Svelte from "@/icons/Svelte.astro"
import _Astr from "@/icons/_Astr.astro"
import JavaScript from "@/icons/JavaScript.astro"
import OpenAI from "@/icons/OpenAI.astro"

//Translate
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

//TODO: mejorar el background de los tags
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    //class: "bg-[#003159] text-white",
    class: "bg-white text-black",
    icon: Tailwind,
  },
  JAVA: {
    name: "Java",
    class: "bg-white text-black",
    icon: Java,
  },
  GRADLE: {
    name: "Gradle",
    class: "bg-white text-black",
    icon: Gradle,
  },
  ORACLE: {
    name: "Oracle",
    class: "bg-white text-black",
    icon: Oracle,
  },
  SQL: {
    name: "Sqlserver",
    class: "bg-white text-black",
    icon: Sqlserver,
  },
  GROOVY: {
    name: "Groovy",
    class: "bg-white text-black",
    icon: Groovy,
  },
  SPRING: {
    name: "Spring",
    class: "bg-white text-black",
    icon: Spring,
  },
  XML: {
    name: "Xml",
    class: "bg-white text-black",
    icon: Xml,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-white text-black",
    icon: TypeScript,
  },
  SVELTE: {
    name: "Svelte",
    class: "bg-white text-black",
    icon: Svelte,
  },
  _Astr: {
    name: "Astro",
    class: "bg-white text-black",
    icon: _Astr,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-white text-black",
    icon: JavaScript,
  },
  OPENAI: {
    name: "OpenAI",
    class: "bg-white text-black",
    icon: OpenAI,
  },
  
}
const PROJECTS = [
  {
    title: "Spring Batch processing on the JVM",
    description: t("projects.item_1_description_1"),
    link: "https://spring.io/batch",
    github: "https://github.com/spring-projects/spring-batch",
    image: "/projects/SPRING_BATCH.png",
    tags: [TAGS.JAVA, TAGS.GRADLE, TAGS.ORACLE, TAGS.SQL, TAGS.GROOVY, TAGS.SPRING, TAGS.XML]
  },
  {
    title: "ChatPDF - Chat with your pdf file",
    description:t("projects.item_2_description_1"), 
    link: "https://askyourpdf.com/",
    github: "https://github.com/Nib1sin/ChatPDF",
    image: "/projects/CHAT_PDF.png",
    tags: [TAGS.TYPESCRIPT, TAGS.SVELTE, TAGS.JAVASCRIPT, TAGS.OPENAI, TAGS._Astr, TAGS.TAILWIND]
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
        <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
          </div>
        </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100 duration-500 hover:scale-110 origin-left">
          {title}
        </h3>
        <div class="flex flex-wrap mt-2">


          <div class="mt-2 text-gray-700 dark:text-gray-400">
            <ul class="flex flex-wrap mb-2 gap-x-2 gap-y-2">
                {tags.map((tag) => (
                  <li>
                    <span
                      class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 bg-gray-300 hover:scale-110 hover:bg-gray-400 dark:hover:bg-white/10`}
                    >
                      <tag.icon class="size-4"/>
                      <p class="hover:text-black dark:hover:text-white">{tag.name}</p>
                    </span>
                  </li>
                ))}
            </ul>
          </div>
            
          <div class="mt-2 text-gray-600 hover:text-black dark:text-gray-400 dark:hover:text-gray-100">
            {description}
          </div>

          <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                  
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
          </footer>
        </div>
      </div>
    </article>
    ))
  }
</div>


<style>
  .custom-border {
    border: 2px solid #4B5563; /* Color gris oscuro */
    border-radius: 8px; /* Ajusta el radio de las esquinas del borde según necesites */
    padding: 4px; /* Agrega un espacio dentro del borde para que no se superponga con el SVG */
    display: inline-block; /* Para que el contenedor se ajuste al contenido */
  }
</style>